{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Saisie d'un frais hors forfait{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4 pb-3">Saisie d'un frais hors forfait</h1>
                {{ form_start(form) }}
                    <div class="form-group">
                        {{ form_label(form.libelle) }}
                        {{ form_widget(form.libelle) }}
                        {% if form_errors(form.libelle) == true %}
                            <br /><div class="alert alert-danger" role="alert">
                                {{ form_errors(form.libelle) }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.dateCreation) }}
                        {{ form_widget(form.dateCreation) }}
                        {% if form_errors(form.dateCreation) == true %}
                            <br /><div class="alert alert-danger" role="alert">
                                {{ form_errors(form.dateCreation) }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.montant) }}
                        {{ form_widget(form.montant) }}
                        {% if form_errors(form.montant) == true %}
                            <br /><div class="alert alert-danger" role="alert">
                                {{ form_errors(form.montant) }}
                            </div>
                        {% endif %}
                    </div>
                    {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
