{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Détails fiches de frais{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% if ficheFrais.moisFiche|date('m') == 01 %}
                    {% set moisFiche = 'Janvier' %}
                {% elseif ficheFrais.moisFiche|date('m') == 02 %}
                    {% set moisFiche = 'Février' %}
                {% elseif ficheFrais.moisFiche|date('m') == 03 %}
                    {% set moisFiche = 'Mars' %}
                {% elseif ficheFrais.moisFiche|date('m') == 04 %}
                    {% set moisFiche = 'Avril' %}
                {% elseif ficheFrais.moisFiche|date('m') == 05 %}
                    {% set moisFiche = 'Mai' %}
                {% elseif ficheFrais.moisFiche|date('m') == 06 %}
                    {% set moisFiche = 'Juin' %}
                {% elseif ficheFrais.moisFiche|date('m') == 07 %}
                    {% set moisFiche = 'Juillet' %}
                {% elseif ficheFrais.moisFiche|date('m') == 08 %}
                    {% set moisFiche = 'Août' %}
                {% elseif ficheFrais.moisFiche|date('m') == 09 %}
                    {% set moisFiche = 'Septembre' %}
                {% elseif ficheFrais.moisFiche|date('m') == 10 %}
                    {% set moisFiche = 'Octobre' %}
                {% elseif ficheFrais.moisFiche|date('m') == 11 %}
                    {% set moisFiche = 'Novembre' %}
                {% elseif ficheFrais.moisFiche|date('m') == 12 %}
                    {% set moisFiche = 'Décembre' %}
                {% endif %}
                <h1 class="display-4 pb-3">Détails de la fiche de frais de {{ moisFiche }} {{ ficheFrais.moisFiche|date('Y') }}</h1>
                <a href="{{ path('app_read_fiches_frais') }}" class="btn btn-outline-info btn-sm">Retour</a>
                <hr />
                <div class="alert alert-success">
                    Montant total de la fiche de frais : <strong>{{ montantTotal }}€</strong><br />
                    Etat : <strong>{% if ficheFrais.etat.libelle == 'Valide' %}Validé{% else %}En attente{% endif %}</strong>
                </div>
                <hr />
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    <hr />
                {% endfor %}

                <h5>Liste des frais hors forfait</h5>
                <span class="badge badge-warning mb-3">Montant total : {% if montantTotalFHF is not null %}{{ montantTotalFHF }}{% else %}0{% endif %}€</span>
                <div class="table-responsive">
                    <table class="table table-striped table-light">
                        <thead>
                            <tr>
                                <th scope="col"><ion-icon name="information-circle"></ion-icon> Libelle</th>
                                <th scope="col"><ion-icon name="cash"></ion-icon> Montant</th>
                                <th scope="col"><ion-icon name="calendar"></ion-icon> Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lFHF in lignesFraisHorsForfait %}
                                <tr>
                                    <td>{{ lFHF.libelle }}</td>
                                    <td>{{ lFHF.montant }}€</td>
                                    <td>{{ lFHF.dateCreation|date('d/m/Y') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div><br />

                <h5>Liste des frais forfait</h5>
                <span class="badge badge-warning mb-3">Montant total : {% if montantTotalFF is not null %}{{ montantTotalFF }}{% else %}0{% endif %}€</span>
                <div class="table-responsive">
                    <table class="table table-striped table-light">
                        <thead>
                            <tr>
                                <th scope="col"><ion-icon name="information-circle"></ion-icon> Libelle</th>
                                <th scope="col"><ion-icon name="cash"></ion-icon> Montant forfait</th>
                                <th scope="col"><ion-icon name="clipboard"></ion-icon> Quantité</th>
                                <th scope="col"><ion-icon name="cash"></ion-icon> Montant total</th>
                                <th scope="col"><ion-icon name="calendar"></ion-icon> Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lFF in lignesFraisForfait %}
                                <tr>
                                    <td>{{ lFF.fraisForfait.libelle }}</td>
                                    <td>{{ lFF.fraisForfait.montant }}€</td>
                                    <td>{{ lFF.quantite }}</td>
                                    <td>{{ lFF.fraisForfait.montant * lFF.quantite }}€</td>
                                    <td>{{ lFF.dateCreation|date('d/m/Y') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}